body {
    background-color: black;
    font-family: 'Tourney', cursive;
}

h1 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
    font-size: xx-large;
}

p {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 5px;
}

#odinProjectMention {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 5px;
    font-size: xx-small;
}

#rpsButtons {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.buttonDisabled {
    color: rgb(34, 56, 0);
    border-color: rgb(34, 56, 0);
    background-color: black;
    border-style: double;
    border-width: 5px;
    font-family: 'Tourney', cursive;
    font-size: xx-large;
    padding: 15px 32px;
    margin: 0px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.buttonRock {
    color: magenta;
    border-color: magenta;
    background-color: black;
    border-style: double;
    border-width: 5px;
    font-family: 'Tourney', cursive;
    font-size: xx-large;
    padding: 15px 32px;
    margin: 0px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.buttonRock:hover {
    color: black;
    background-color: magenta;
    box-shadow: 0 0 50px 5px magenta;
}

.buttonRock:active {
    transition-duration: 0.01s;
    transform: scale(1.1);
    
}

.buttonPaper {
    color: cyan;
    border-color: cyan;
    background-color: black;
    border-style: double;
    border-width: 5px;
    font-family: 'Tourney', cursive;
    font-size: xx-large;
    padding: 15px 32px;
    margin: 0px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.buttonPaper:hover {
    color: black;
    background-color: cyan;
    box-shadow: 0 0 50px 5px cyan;
}

.buttonPaper:active {
    transition-duration: 0.01s;
    transform: scale(1.1);
    
}

.buttonScissors {
    color: yellow;
    border-color: yellow;
    background-color: black;
    border-style: double;
    border-width: 5px;
    font-family: 'Tourney', cursive;
    font-size: xx-large;
    padding: 15px 32px;
    margin: 0px 10px;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.buttonScissors:hover {
    color: black;
    background-color: yellow;
    box-shadow: 0 0 50px 5px yellow;
}

.buttonScissors:active {
    transition-duration: 0.01s;
    transform: scale(1.1);
    
}

h2 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
}

#scores {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
}

#winner {
    font-size: x-large;
}

#roundResult {
    width: 350px;
}

#gameResult {
    font-size: xxx-large;
}

#computerChoice {
    font-size: xx-large;
    width: 250px;
}

#humanChoice {
    font-size: xx-large;
    width: 250px;
}

footer {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
    font-size: small;
}

#computerScoreValue {
    font-size: xx-large;
}

#humanScoreValue {
    font-size: xx-large;
}

#gameReset {
    display: flex;
    justify-content: center;
}

#buttonReset {
    height: 80px;
    width: 200px;
    border-color: greenyellow;
    color: greenyellow;
    font-size: x-large;
    background-color: black;
    border-style: double;
    border-width: 5px;
    font-family: 'Tourney', cursive;
    font-size: xx-large;
    padding: 15px 32px;
    margin: 0px 10px;
    border-radius: 15px;
    width: 250px;
    height: 100px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}

#buttonReset:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0 0 50px 5px greenyellow;
}