body {
    background-color: black;
    font-family: 'Tourney', cursive;
}

h1 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
}

p {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 5px;
}

#rpsButtons {
    display: flex;
    justify-content: center;
}

h2 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
}

#scores {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
}

#winner {
    font-size: xx-large;
}

footer {
    color: greenyellow;
    text-align: center;
    text-shadow: 0px 0px 10px;
    font-size: small;
}